pkgbase = axioo-control-center-git
	pkgdesc = Linux hardware control for Axioo/Clevo laptops (Tauri GUI + fan/RAPL daemon + CLI)
	pkgver = 0.4.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/Araryarch67/axioo-control-center
	install = axioo-control-center-git.install
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = gtk3
	makedepends = nodejs
	makedepends = npm
	makedepends = webkit2gtk-4.1
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = librsvg
	depends = polkit
	depends = power-profiles-daemon
	depends = webkit2gtk-4.1
	optdepends = clevo-drivers-dkms-git: kernel drivers for kbd LED + EC (Studio X quirk)
	provides = axioo-control-center
	conflicts = axioo-control-center
	source = git+https://github.com/Araryarch67/axioo-control-center.git
	sha256sums = SKIP

pkgname = axioo-control-center-git
